<div>   
  <div class="card border-primary mb-3">
      <div class="card-header" >
        <div class="row">
          <div class="col-md-9">
            <label><h3>Entrada en C#</h3></label>
          </div>
          <div class="col-md-2">
            <button mat-raised-button 
            class="example-add-tab-button" 
            (click)="addTab()">
              Add new tab
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <mat-tab-group [selectedIndex]="tabs.length">
          <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
            <!-- CONTENIDO ADENTRO DE LA PESTAÑA -->
            <div style="padding: 15px;">
              <form>
                <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
               </form>
              <button mat-raised-button
                      class="example-delete-tab-button"
                      [disabled]="tabs.length === 1"
                      (click)="removeTab(index)">
                Delete Tab
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
</div>



